---
import type { MemberMapItem } from "../type/member";

type Props = {
    memberId: string;
    member: MemberMapItem;
};

const { memberId, member } = Astro.props as Props;

const avatarSrc = `${import.meta.env.BASE_URL}avatars/${member.avatar}`;
---

<article class="member-card">
    <img
        class="member-card__avatar"
        src={avatarSrc}
        alt={`${member.name}'s avatar`}
    />
    <div class="member-card__body">
        <h2 class="member-card__name">{member.name}</h2>

        <p class="member-card__description">
            <span class="member-card__description-label">Description: </span>
            <span class="member-card__description-value"
                >{member.description}</span
            >
        </p>

        <div class="member-card__links">
            <a
                class="member-card__link"
                href={member.site}
                target="_blank"
                rel="noopener noreferrer">Blog</a
            >
            <a
                class="member-card__link"
                href={member.feed}
                target="_blank"
                rel="noopener noreferrer">RSS</a
            >
            <a
                class="member-card__link"
                href={`${import.meta.env.BASE_URL}history/${memberId}`}
                >History</a
            >
        </div>
    </div>
</article>

<style>
    .member-card {
        display: flex;
        align-items: flex-start;
        height: fit-content;
        gap: 1rem;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 12px;
        min-width: 0;
    }

    .member-card__avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }

    .member-card__body {
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .member-card__name {
        margin: 0;
        padding: 0;
    }

    .member-card__description {
        margin: 0;
        padding: 0;
    }

    .member-card__description-label {
        margin: 0;
        padding: 0;
    }

    .member-card__description-value {
        margin: 0;
        padding: 0;
        overflow-wrap: break-word;
    }

    .member-card__links {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.75rem;
    }

    .member-card__link {
    }
</style>
